body {
  padding-top: 50px;
  padding-bottom: 20px;
}
a:hover, a:active {
    text-decoration: none;
}
/* nav styling */
.navbar-blue {
    background-color: #DC3300;
    border-color: #ce2c00;
}
.navbar-blue .navbar-brand {
    color: #EEE;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #FFF;
}
.navbar-blue .navbar-nav > li > a {
    color: #EEE;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #EEE;
    background-color:#ce2c00;
}
.navbar-blue .navbar-nav > .active > a, 
.navbar-blue .navbar-nav > .active > a:hover, 
.navbar-blue .navbar-nav > .active > a:focus {
    color: #EEE;
    background-color: #c42700;
}
.navbar-blue .navbar-nav > .active2 > a {
    border-right:1px solid #c42700;
}
.navbar-blue .navbar-nav > .open > a, 
.navbar-blue .navbar-nav > .open > a:hover, 
.navbar-blue .navbar-nav > .open > a:focus {
    color: #EEE;
    background-color: #c42700;
}
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret,
.navbar-blue .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .open > a .caret, 
.navbar-blue .navbar-nav > .open > a:hover .caret, 
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border-top-color: #c42700;
    border-bottom-color: #c42700;
}
.navbar-blue .navbar-toggle {
    border-color: #c42700;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #c42700;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #EEE;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #EEE;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c42700;
    }
}
/* end nav styling */

#xcontent {
    margin-top:15px;
}
.jumbotron {
    background-image: url("../../../img/jumbotron_bg.png");
    background-size: cover;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}
.langflag {
    display:inline-block;
    position:relative;
    top:2px;
    width:19px;
    height:14px;
    background-image:url('../img/lang_flags.png');
    background-repeat: no-repeat;
    border-right:1px solid silver;
    border-bottom:1px solid silver;
}

.langflag-ru {
    background-position: 0px 0px;
}
.langflag-tj {
    background-position: 0px -13px;
}
.langflag-en {
    background-position: 0px -26px;
}
.cbrd {
    border:1px solid silver;
}
.xpopup_title {
    padding-bottom: 4px;
    font-size:110%;
}
.xpopup_addr {
    padding-bottom: 4px;
}
.xpopup_more {
    padding-top: 7px;
    text-align:right;
}
#mt_map_filter {
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:10px;
    right:10px;
    width:240px;
    padding:2px 8px 2px 8px;
    border:1px solid silver;
    border-radius: 4px;
}
#mt_map_filter div {
    margin-bottom:8px;
}
.main_icon_1 {
    width: 200px;
    height: 180px;
    margin-left:auto;
    margin-right:auto;
    background-image: url('../img/main_icon_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
.main_icon_1 a {
    color:white;
}
.main_icon {
    width: 200px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom:10px;
}
.main_icon_od {
    background-image: url('../img/main_icon_od.png');
}
.main_icon_map {
    background-image: url('../img/main_icon_map.png');
}
.main_icon_app {
    background-image: url('../img/main_icon_app.png');
}
.status_icon {
    width: 100px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    font-size:72px;
    color:silver;
    line-height:100px;
    background-repeat: no-repeat;
    background-position: center center;
}
.status_0 {
    background-image: url('../../../img/status0.jpg');
}
.status_1 {
    background-image: url('../../../img/status1.gif');
}
.status_2 {
    background-image: url('../../../img/status2.jpg');
}
.status_3 {
    background-image: url('../../../img/status3.jpg');
}
.status_txt_1 {
    font-size: 18px;
    font-weight: bold;
}
.status_txt_2 {
    margin-top: 20px;
    font-size: 16px;
    color:gray;
}
.tm1_p1_girls_tj {
    height:140px;
    min-width:24px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../../img/forms/tm1_part1_az_onho_duhtaron.png');
}
.tm1_p1_all_tj {
    height:57;
    min-width:24;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../../img/forms/tm1_part1_hamagi.png');
}