body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* nav styling */
.navbar-blue {
    background-color: #DC3300;
    border-color: #ce2c00;
}
.navbar-blue .navbar-brand {
    color: #EEE;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #FFF;
}
.navbar-blue .navbar-nav > li > a {
    color: #EEE;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #EEE;
    background-color:#ce2c00;
}
.navbar-blue .navbar-nav > .active > a, 
.navbar-blue .navbar-nav > .active > a:hover, 
.navbar-blue .navbar-nav > .active > a:focus {
    color: #EEE;
    background-color: #c42700;
}
.navbar-blue .navbar-nav > .active2 > a {
    border-right:1px solid #c42700;
}
.navbar-blue .navbar-nav > .open > a, 
.navbar-blue .navbar-nav > .open > a:hover, 
.navbar-blue .navbar-nav > .open > a:focus {
    color: #EEE;
    background-color: #c42700;
}
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret,
.navbar-blue .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-blue .navbar-nav > .open > a .caret, 
.navbar-blue .navbar-nav > .open > a:hover .caret, 
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border-top-color: #c42700;
    border-bottom-color: #c42700;
}
.navbar-blue .navbar-toggle {
    border-color: #c42700;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #c42700;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #EEE;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #EEE;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c42700;
    }
}
/* end nav styling */

#xcontent {
    margin-top:15px;
}
.jumbotron {
    background-image: url("../../../img/jumbotron_bg.png");
    background-size: cover;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}
.langflag {
    display:inline-block;
    position:relative;
    top:2px;
    width:19px;
    height:14px;
    background-image:url('../img/lang_flags.png');
    background-repeat: no-repeat;
    border-right:1px solid silver;
    border-bottom:1px solid silver;
}

.langflag-ru {
    background-position: 0px 0px;
}
.langflag-tj {
    background-position: 0px -13px;
}
.langflag-en {
    background-position: 0px -26px;
}
.cbrd {
    border:1px solid silver;
}
.xpopup_title {
    padding-bottom: 4px;
    font-size:110%;
}
.xpopup_addr {
    padding-bottom: 4px;
}
.xpopup_more {
    padding-top: 7px;
    text-align:right;
}
#mt_map_filter {
    background-color:rgba(255, 255, 255, 0.7);
    position:absolute;
    top:10px;
    right:10px;
    width:220px;
    padding:2px 8px 2px 8px;
    border:1px solid silver;
    border-radius: 4px;
}
#mt_map_filter div {
    margin-bottom:8px;
}